@import "src/styles/grid";
@import "src/styles/fonts";

.root {
  position: relative;
  overflow: hidden;
  z-index: 2;
  @include susy-phone() {
    height: 570px;
  }
}
.map {
  position: relative;
  @include susy-phone() {
    height: 570px;
  }
}

.list {
  position: absolute;
  bottom: 33px;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.devider {
  @include susy-phone() {
    //position: absolute;
    //bottom: 0;
    //left: 0;
    //right: 0;
    //z-index: 1;
  }
}

.header {
  @include susy-phone() {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 15px;
    right: 15px;
  }
}

h2.title {
  @include fontBold();
  @include susy-phone() {
    font-size: 24px;
    line-height: 31px;
  }
}
