.root {
  position: absolute;
  background-color: #000;
  color: rgb(255, 255, 255);
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.13px;
  height: 34px;
  line-height: 34px;
  left: -45px;
  top: 20px;
  width: 160px;
  text-align: center;
  text-transform: capitalize;
}

.tape, .stock {
  transform: rotate(-45deg);
}

.circle {
  top: 20px;
  left: 20px;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  font-size: 10px;
  line-height: 37px;
  transform: none;
}

.stock {
  font-size: 12px;
}


