@import "src/styles/grid";
@import "src/styles/fonts";

.root {
  @include susy-phone() {
  }
}



.header {
  @include susy-phone() {
    margin-bottom: 46px;
  }
}

.devider {
  @include susy-phone() {
    margin-top: 63px;
  }
}

.row {
  @include row();
}

.slider {
  @include susy-phone() {
    width: 100%;
    margin-top: auto;
  }
}

.company {
  overflow: hidden;
  border-radius: 2px;
  background-color: #ffffff;
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 60%;
    height: auto;
  }
}

.companyWrapper {
  @include susy-phone() {
    padding: 2px;
  }
}

.dots {
  margin-top: 30px;
}

.object {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  background-color: #fff;
}
