.root {
  lost-offset: 1/12;
  lost-align: center;
  min-height: 514px;
}

.title {
  margin: 0 0 10px 0;
  color: rgb(51, 51, 51);
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 34px;
}

.priceWrapper {
  margin-bottom: 16px;
  color: rgb(51, 51, 51);
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 24px;
}

.price {
  font-size: 50px;
}

.currency {
  font-size: 35px;
}

.rating {
  margin-bottom: 51px;
}
