.root {
  position: relative;
  height: 100%;
  &:before {
    position: absolute;
    bottom: 0;
    height: 35px;
    left: 0;
    right: 0;
    content: '';
    background-color: #313131;
    z-index: 2;
  }
}
