@import "src/styles/fonts";
@import "src/styles/grid";

.root {
  background-image: url('../icons/mailBg.svg'), linear-gradient(to top, rgba(21, 27, 33, 0.00) 6%, #151B21 84%), url('./images/simple-bg-1.jpg');
  background-position: 16px 24px, 0 0, 0 0;
  background-repeat: no-repeat;
  transition: background-image .5s ease-out;
  @include susy-phone() {
    padding-top: 95px;
    background-size: 332px 251px, cover, cover;
  }
}

.eventsBg {
  background-image: url('../icons/mailBg.svg'), linear-gradient(to top, rgba(21, 27, 33, 0.00) 6%, #151B21 84%), url('./images/simple-bg-1.jpg')
}

.spacesBg {
  background-image: url('../icons/mailBg.svg'), linear-gradient(to top, rgba(21, 27, 33, 0.00) 6%, #151B21 84%), url('./images/simple-bg-spaces.jpg')
}

.corpBg {
  background-image: url('../icons/mailBg.svg'), linear-gradient(to top, rgba(21, 27, 33, 0.00) 6%, #151B21 84%), url('./images/simple-bg-corp.jpg')
}
.devider {
  @include susy-phone() {
    margin-top: 32px;
  }
}
.label {
  display: block;
  @include fontNormal();
  color: #8e9397;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 9px;
}


.inputGroup {
  margin-bottom: 15px;
}

h3.title {
  @include susy-phone() {
    text-align: center;
    margin-bottom: 5px;
  }
}

.para {
  @include susy-phone() {
    text-align: center;
    margin-bottom: 25px;
  }
}

.radioGroup {
  @include susy-phone() {
    margin-bottom: 16px;
  }
}

.radio {
  @include susy-phone() {
    margin-bottom: 12px;
  }
}

.tooltip {
  position: relative;
  width: 100%;
}
