.banner-slider {
  height: 100%;
}
.banner-slider .slick-slide > div {
  height: 100%;
}

.banner-slider .slick-slide,
.banner-slider .slick-track,
.banner-slider .slick-list,
.banner-slider .slick-slider
{
  height: 100%;
}
