@import "src/styles/grid";
@import "src/styles/fonts";

.root {
  position: relative;
  background-color: #151b21;
  @include susy-phone() {
    //margin-top: -100%;
  }
}

.listRoot {
  position: relative;
}



.sectionHeader {
  @include susy-phone() {
    margin-bottom: 15px;
  }
}

.header {

}

.sectionTitle {
  @include susy-phone() {
    margin-bottom: 15px;
  }
}

.para {
  @include susy-phone() {
    margin-bottom: 16px;
    width: susy-span(11 last);

  }
}

.button {
  @include susy-phone() {
    width: 100%;
    display: block;
  }
}


.row {
  @include row();
  position: relative;
  @include susy-phone() {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.itemRoot {
  @include susy-phone() {
    display: flex;
    flex-direction: column;
    //margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.info {
  @include susy-phone() {
    order: 2;
  }
}

.picture {
  @include susy-phone() {
    position: relative;
    z-index: 2;
    width: 100%;
    order: 1;
    margin-top: 44px;
    margin-bottom: 22px;
    text-align: right;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: -15px;
  }
}

.icon {
  @include susy-phone() {
    path {
      transition: stroke-dashoffset 10s ease-out;
      fill: none;
      stroke: #65C8CE;
    }
  }
}

.iconWrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  @include susy-phone() {
    margin-bottom: 8px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.peoples {
 @include susy-phone() {
   width: 414px!important;
   height: 230px!important;
   path {
     stroke-dasharray: 7242;
     stroke-dashoffset: 7242;
   }
 }
}

.spaces {
  @include susy-phone() {
    margin-top: 82px;
    margin-bottom: -35px;
    path {
      stroke-dasharray: 8564;
      stroke-dashoffset: 8564;
    }
  }
}

.corporate {
  margin-top: 35px;
  margin-bottom: 20px;
  height: auto;

  path {
    stroke-dasharray: 5806;
    stroke-dashoffset: 5806;
  }
}



.pretitle {
  @include susy-phone() {
    @include fontBold();
    margin-bottom: 5px;
  }
}
.bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  //height: auto;
  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
    background-image: linear-gradient(1deg, #151B21 15%, rgba(21, 27, 33, 0.41) 89%);
    content: '';
  }
  img {
    width: 100%;
  }
}
.wrapper {
  @include susy-phone() {
    position: relative;
    z-index: 2;
  }
}
.itemRoot {
  @include susy-phone() {
    position: relative;
    padding-bottom: 33px;
    background-color: #151b21;
  }

}


