@import "src/styles/grid";

.root {
  position: relative;
  background-color: #151b21;
  @include susy-phone() {
    //margin-top: -100%;
  }
}



.sectionHeader {
  @include susy-phone() {
    margin-bottom: 15px;
  }
}

.header {

}

.sectionTitle {
  @include susy-phone() {
    margin-bottom: 15px;
  }
}

.para {
  @include susy-phone() {
    margin-bottom: 48px;
    width: susy-span(11 last);
  }
}

.button {
  @include susy-phone() {
    width: 100%;
    display: block;
  }
}


.row {
  @include row();
  position: relative;
  @include susy-phone() {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.itemRoot {
  @include susy-phone() {
    display: flex;
    flex-direction: column;
    //margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.info {
  @include susy-phone() {
    order: 2;
  }
}

.picture {
  @include susy-phone() {
    position: relative;
    z-index: 2;
    width: 100%;
    order: 1;
    margin-top: 44px;
    margin-bottom: 22px;
    text-align: right;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: -15px;
  }
}

.icon {
  @include susy-phone() {
    margin-right: -15px;
    display: block;
    width: 100%;
    //width: 90%;
    path {
      transition: stroke-dashoffset 5s ease-out;
      fill: none;
      stroke-width: 4px;
      stroke: #65C8CE;
    }
  }
}

.peoples {
 @include susy-phone() {
   height: 180px;
   //width: 80%;
   path {
     stroke-dasharray: 7242;
     stroke-dashoffset: 7242;
   }
 }
}

.spaces {
  @include susy-phone() {
    height: 180px;
    path {
      stroke-dasharray: 8564;
      stroke-dashoffset: 8564;
    }
  }
}

.corporate {
  height: 180px;
  top: 30px;
  path {
    stroke-dasharray: 5806;
    stroke-dashoffset: 5806;
  }
}

.fullWidth {
  @include susy-phone() {
    margin-right: -15px;
    margin-top: auto;
    margin-left: -15px;
  }
}
.bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: auto;
  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
    background-image: linear-gradient(1deg, #151B21 41%, rgba(21, 27, 33, 0.41) 89%);
    content: '';
  }
  img {
    width: 100%;
    //height: 325px;
  }
}
.wrapper {
  @include susy-phone() {
    position: relative;
    z-index: 2;
  }
}
.itemRoot {
  @include susy-phone() {
    position: relative;
    background-color: #151b21;
  }

}


