
.inner {
    padding: 0 20px;
}

.groupInput {
    margin-bottom: 34px;
}

.input {
    margin-bottom: 16px;
}

.layout {
    padding: 7.6rem 110px 6.7rem 110px;
}

.select {
    margin-bottom: 28px;
}
