.root {
  position: relative;
  background-color: rgb(243, 246, 249);
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.arrowRight {
  right: 40px;
}

.arrowLeft {
  left: 40px;
}

.dots {
  margin-bottom: 40px;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 2px solid rgb(51, 51, 51);

  &:lst-child {
    margin-right: 0;
  }
}

.activeDot {
  background-color: rgb(51, 51, 51);
}
